<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1779710449694</Id>
		<Name><![CDATA[lifeCycle]]></Name>
		<X>20</X>
		<Y>100</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>false</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="rate" Mode="occuresOnce">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_HOUR</Unit>
			</Rate>
			<Id>1779710449692</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1779782400000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[0]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
