<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1779708162939</Id>
		<Name><![CDATA[ShipSinks]]></Name>
		<X>-240</X>
		<Y>920</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>false</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="userControls">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_HOUR</Unit>
			</Rate>
			<Id>1779708162937</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1779782400000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[uniform(0, 20)]]></Code>
				<Unit Class="TimeUnits">YEAR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
	<Event>
		<Id>1780414200953</Id>
		<Name><![CDATA[event]]></Name>
		<X>-240</X>
		<Y>960</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="rate" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_HOUR</Unit>
			</Rate>
			<Id>1780414200951</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1780473600000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[2]]></Code>
				<Unit Class="TimeUnits">DAY</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
